<div class="row">
    <div class="col">
        {{name}}
    </div>
</div>
<div class="row">
    <div class="col">
        <select [ngModel]="selectedPlanet" (ngModelChange)="onSelected($event)">
            <option [ngValue]="selectVal" selected>Select</option>
            <option *ngFor="let p of planets" [ngValue]="p">{{p.name}}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col" *ngIf="selectedPlanet">
        <div *ngFor="let v of vehicles">
            <label>
                <input type="radio"  [name]="vehicleGroup" [value]="v" 
                [disabled]="v.max_distance < selectedPlanet.distance ||((!selectedVehicle || selectedVehicle.name != v.name) && v.getRemainingCount() < 1)"
                [ngModel]="selectedVehicle" (ngModelChange)="onVehicleSelected($event)" />
                 {{v.name}} ({{ getCount(v.name) }})
            </label>
            <br/>
        </div>

    </div>
</div>