<div class="row">
    <div class="col">
        {{name}}
    </div>
</div>
<div class="row">
    <div class="col">
        <select [ngModel]="selectedPlanet" (ngModelChange)="onSelected($event)">
            <option [ngValue]="selectVal" selected>Select</option>
            <option *ngFor="let p of planets" [ngValue]="p">{{p.name}}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col" *ngIf="selectedPlanet">
        <div *ngFor="let v of vehicles">

            <label>
                <input type="radio"  name="Vehicle" [value]="v" [(ngModel)]="selectedVehicle" /> {{v.name}} {{v.total_no}}
            </label><br/>
        </div>

    </div>
</div>