
    <div class="row">
        <div class="col">
            <h3>Select planets you want to search in:</h3>
        </div>
    </div>
    <div class="row" style="min-height: 400pxx;">
        <div *ngFor="let pName of destinationNames" class="col">
            <div style="min-height:250px; min-width: 150px;">
                <app-destination [name]="pName" [planets]="availablePlanets" [planetState]="planetState"
                    (planetStateChange)="planetStateChange($event)" [vehicles]="vehicles" [vehicleState]="vehicleState"
                    (vehicleStateChange)="vehicleStateChange($event)" [footerTemplate]="footerTemp">
                    
                    <ng-template #footerTemp>
                        <p class="small">sunnysinghdev</p>
                    </ng-template>
                        <p>.com</p>

                    
                </app-destination>
            </div>
        </div>
        <div class="col">
            <div style="min-width: 150px;">
                <label></label>
                <h4>Time Taken: {{timeTaken}}</h4>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-primary" [disabled]="disableFindButton" (click)="findFalcone($event)">Find
                Falcone</button>
        </div>
    </div>
    